body{
	max-width: 600px;
	margin: 0 auto;
	padding: 80px 30px;
	font-family: 'Poppins';font-size: 11px;
}
.header{
	width: 100%;
	min-height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header .logo{
	width: 30%;
	min-width: 200px;
}
/*.header .title{
	max-width: 40%; 
}*/
.logo img{
	width: 100%;
	max-width: 280px;
}
.header h1{	
	color: #3CABE3;
	font-weight: 600;
	margin: 0;
}
.header p{
	margin: 0;
}
.main{
	width: 100%;
}
.banner{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.banner img{
	width: 32%;
}
.content{
	display: flex;
	justify-content: space-between;
}
.left, .right{
	width: 48%;
}
.sub_img {
	display: flex;
	justify-content: space-around;
}
.catalog{
	width: 35%;
	min-width: 120px;
	text-align: center;
}
.catalog img{
	/*width: 100%;*/
	height: 120px;
	overflow: hidden;
}
.left h2{
	color: #3CABE3; 
}
.catalog label{
	font-weight: 600;
	font-size: 14px;
}
.bold{
	font-weight: 600;
}
.blue{
	color: #47B4DA;
}
.left .logo{
	width: 45%;
}
.contact p{
	margin: 4px 0;
	font-size: 12px;	
}
.contact{
	margin-bottom: 15px;
}
.left a{
	font-size: 12px;
	text-decoration: none;
}
.right h3{
	margin: 30px 0 0px;
}
.right p{
	font-size: 14px;
	margin: 5px 0;
}
.right ul{
	padding-left: 20px;
	font-size: 12px;
	margin: 0;
}
.more_info{
	margin-top: 50px !important;
	font-size: 8px !important;
}
.right .table h3{
	width: 100%;
	background-color: #3FAAE2;
	color: white;
	/*padding-left: 5px;*/
}
.right .table table{
	width: 100%;
	text-align: left;
	border-collapse: collapse;	
}
thead{
	background-color: #A6D1F1;
	color: white; 
}
.empty_row{
	height: 10px;
}
.footer{
	background-color: #57565B;
	height: 30px;
}